html, body {
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(darkslateblue, #100c27);
    color: #100c27;
}

.card {
    background-color: #b8b1e7;
    padding: 2em;
    border-radius: 20px;
    text-align: center;
}

button {
    cursor: pointer;
    height: 2em;
    background-color: #7163cf;
    border: none;
    border-radius: 5px;
}

input {
    height: 1.9em;
    border: none;
    border-radius: 5px;
    background-color: #edebf9;
}

.main-stats {
    display: flex;
    justify-content: space-around;
    background-color: #7163cf;
    color: #edebf9;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.temperature {
    font-size: 2.5em;
    margin: auto;
}

.icon {
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.cond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.condition {
    margin-bottom: 0px;
}

.hi-lo, .more-info {
    display: flex;
    justify-content: space-around;
    background-color: #958adb;
    border-radius: 25px;
    margin-top: 20px;
}

@keyframes bounce {
    0% {transform:translateY(-5px)}
    100% {transform:translateY(15px)}
}
